.services {
  width: 100%;
  max-width: 1600px;
  padding-bottom: 100px;
  transition: all 0.3s ease;
  padding-inline: 100px;

  @include mobile {
    padding-inline: 70px;
  }

  @include mobile-s {
    padding-inline: 40px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 25px;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 48px;
  letter-spacing: -1.2px;
  text-align: center;
  color: #161c2d;
  transition: all 0.3s ease;

  @include desktop {
    font-size: 32px;
    line-height: 42px;
  }

  @include tablet {
    font-size: 30px;
    line-height: 38px;
  }

  @include mobile {
    font-size: 28px;
    line-height: 34px;
  }

  @include mobile-s {
    font-size: 24px;
    line-height: 30px;
  }
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  transition: all 0.3s ease;
  column-gap: 31px;

  @media (width <= 1330px) {
    column-gap: 24px;
    row-gap: 24px;
  }

  @include tablet {
    margin-top: 70px;
  }

  @include mobile {
    margin-top: 60px;
  }

  @include mobile-s {
    margin-top: 50px;
  }
}
