.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #fff;
  background: #473bf0;
  border-radius: 8px;
  transition: all 0.3s ease;

  @include desktop {
    width: 200px;
    height: 45px;
    font-size: 16px;
  }

  @include tablet {
    width: 150px;
    height: 40px;
    font-size: 13px;
  }

  @include mobile {
    width: 120px;
    height: 35px;
    font-size: 11px;
  }

  @include mobile-s {
    width: 100px;
    font-size: 10px;
    padding-inline: 2px;
  }

  &:hover {
    background-color: #3c32ca; // немного темнее при наведении
  }

  &:active {
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 20%); // внутренняя тень для эффекта "вдавленности"
    transform: scale(0.99); // небольшое уменьшение размера
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px rgb(71 59 240 / 30%); // подсветка при фокусе для доступности
  }
}
