.hero {
  width: 100%;
  max-width: 1600px;
  transition: all 0.3s ease;
  padding-inline: 100px;

  @include mobile {
    padding-inline: 70px;
  }

  @include mobile-s {
    padding-inline: 40px;
  }
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 107px;
  min-height: 700px;
  transition: all 0.3s ease;

  @include desktop {
    column-gap: 90px;
  }

  @include tablet {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  @include mobile {
    max-width: 540px;
    min-height: initial;
  }
}

.left {
  display: flex;
  flex-direction: column;
  width: 540px;
  transition: all 0.3s ease;

  @include desktop {
    width: 450px;
  }

  @include tablet {
    width: 540px;
  }

  @include mobile {
    width: 100%;
    max-width: 540px;
  }
}

.title {
  margin-top: 25px;
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  line-height: 65px; /* 108.333% */
  letter-spacing: -2px;
  color: #161c2d;
  transition: all 0.3s ease;

  @include desktop {
    margin-top: 20px;
    font-size: 52px;
    line-height: 58px;
  }

  @include tablet {
    margin-top: 15px;
    font-size: 50px;
    line-height: 55px;
  }

  @include mobile {
    margin-top: 12px;
    font-size: 42px;
    line-height: 46px;
  }

  @include mobile-s {
    margin-top: 10px;
    font-size: 36px;
    line-height: 40px;
  }
}

.subtitle {
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px; /* 168.421% */
  letter-spacing: -0.2px;
  color: #161c2d;
  transition: all 0.3s ease;

  @include desktop {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 28px;
  }

  @include tablet {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 25px;
  }

  @include mobile {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 22px;
  }

  @include mobile {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 18px;
  }
}

.right {
  display: flex;
  flex-shrink: 0;
  width: 463px;
  transition: all 0.3s ease;

  @include desktop {
    width: 400px;
  }

  @media (width <= 1150px) {
    width: 370px;
  }

  @include tablet {
    width: 280px;
    margin-top: 100px;
  }

  @include mobile {
    width: 250px;
    margin-top: 50px;
  }

  @include mobile-s {
    width: 200px;
    margin-top: 50px;
  }
}

.foto {
  margin-top: 100px;
  align-self: center;
  transition: all 0.3s ease;

  @include desktop {
    margin-top: initial;
  }
}
